@page "/"

<PageTitle>Home</PageTitle>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>

</head>

<body class="home-background">
    <div>
        <h3 class="text-centered">Lorem Ipsum</h3>
    </div>
</body>
